.card {
  border-radius: var(--border-radius);
  box-shadow: 0.1rem 0.1rem 0.5rem silver;
  overflow: hidden;
  min-width: 24em;
}

.infoContainer {
  padding: 1rem;
}

@media screen and (min-width: 48rem) {
  .card {
    max-width: 28em;
  }
}

.card + .card {
  margin-top: 1rem;
}

.textContainer {
  margin: 1rem;
  margin-right: 1.5rem;
  margin-left: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  padding: 1rem;
  height: 5em;
  width: 5em;
}

.imagePadding {
  height: 100%;
  width: 100%;
  position: relative;
}
