# dependencies
node_modules

# testing
coverage

# local env files
.env

# production
.serverless
.astro
dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# android
*.keystore
.gradle
android/app/build
*.aab
*.apk
*idsig
