# Pnpm postinstall script should execute after all dependencies download.
node-linker=hoisted
# Predictable dependency versions.
save-exact=true
init-author-name=Meng Lin
init-author-email=menglinmaker@gmail.com
init-author-url=https://github.com/MengLinMaker
