---
import Layout from '../components/wrapper/layout.astro'
---

<Layout title="404" description="Page cannot be found">
  <section class="p-20 py-28">
    <div class="container flex flex-col items-center mx-auto max-w-md text-center">
      <h2 class="mb-8 font-bold text-9xl text-neutral-dark"> 404</h2>
      <p class="text-3xl font-semibold">Sorry, we couldn't find this page.</p>
      <p class="mt-4 mb-8 text-lg text-neutral-medium"
        >But dont worry, you can find plenty of other things on our Home Page.</p
      >
      <a
        rel="noopener noreferrer"
        href={'/'}
        class="bg-primary-medium text-white px-6 py-3 rounded-lg text-center">&larr; Home Page</a
      >
    </div>
  </section>
</Layout>
