---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Grocermatic"
  description="Find the cheapest Australian groceries and track your spending."
>
  <h1>Grocermatic</h1>
  <p>Automate your grocery list creation</p>
</Layout>
