@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Hide unloaded Google Ads */
ins {
  @apply no-underline;
}
ins.adsbygoogle span {
  @apply !hidden;
}
ins.adsbygoogle[data-ad-status='unfilled'] a {
  @apply block;
}

@media (max-width: 640px) {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#root {
  @apply font-sans text-neutral-dark overflow-hidden h-[100dvh];
}

.card {
  @apply rounded-lg border border-neutral-light shadow-neutral-light;
  -webkit-tap-highlight-color: transparent;
}

/* uPlot CSS */
.uplot {
  font-family: Helvetica Neue;
  width: -moz-min-content;
  width: min-content;
}
.u-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.u-wrap {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.u-over,
.u-under {
  position: absolute;
}
.u-under {
  overflow: hidden;
}
.uplot canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.u-axis {
  position: absolute;
}
.u-legend {
  font-size: 14px;
  margin: auto;
  text-align: center;
}
.u-inline * {
  display: inline-block;
}
.u-inline tr {
  margin-right: 16px;
}
.u-legend th {
  font-weight: 600;
}
.u-legend th > * {
  vertical-align: middle;
  display: inline-block;
}
.u-legend .u-marker {
  width: 1em;
  height: 1em;
  margin-right: 4px;
  background-clip: padding-box !important;
}
.u-select {
  background: rgba(0, 0, 0, 0.07);
  position: absolute;
  pointer-events: none;
}
.u-cursor-x,
.u-cursor-y {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}
.u-hz .u-cursor-x,
.u-vt .u-cursor-y {
  height: 100%;
  border-right: 1px dashed #607d8b;
}
.u-hz .u-cursor-y,
.u-vt .u-cursor-x {
  width: 100%;
  border-bottom: 1px dashed #607d8b;
}
.u-cursor-pt {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid;
  pointer-events: none;
  will-change: transform;
  background-clip: padding-box !important;
}
.u-axis.u-off,
.u-select.u-off,
.u-cursor-x.u-off,
.u-cursor-y.u-off,
.u-cursor-pt.u-off {
  display: none;
}