---
import Container from '../wrapper/container.astro'

const faqs: {
  title: string
  description: string
}[] = [
  {
    title: `Where do I report bugs?`,
    description: `Report via <a class="underline" target="_blank" href="https://github.com/MengLinMaker/Grocermatic">GitHub</a>. You will find the source code along with any documentation.`,
  },
  {
    title: `Which stores do you compare?`,
    description: `As to date, Aldi, Coles IGA and Woolworths are compared. This accounts for roughly 75% of the grocery market in Australia.`,
  },
  {
    title: `Why can't I find fruits and vegetables from Aldi`,
    description: `Aldi does not provide prices online unforunately. The alternative solution is to crowd source information, which is not very practical.`,
  },
  {
    title: `Why can't I find pet food?`,
    description: `There are both technical and non technical reasons for not including pet food:
			<ul style="list-style: inside;">
				<li>Firstly, not including pet food will prevent less literate users from accidentally eating pet food.</li>
				<li>Secondly, focusing only on human food provides less maintenance overhead, allowing more focus on developing specialised features. For example, pet food would require categorising the type of pet food, which is not applicable to human food.</li>
			</ul>`,
  },
  {
    title: `Why are 'each' priced items missing?`,
    description: `The ability to compare the value ($/kg) of each grocery is key to reducing cost. So items without a defined quantity are removed, which happens to include many iterms with 'each' based pricing.`,
  },
]
---

<Container class="mx-auto flex flex-col px-6 py-16 divide-y divide-neutral-light">
  <h2 class="text-xl font-bold pb-4">Frequently asked questions</h2>
  {
    faqs.map((faq) => (
      <div class="accordion py-4 text-left flex flex-col">
        <dt class="flex w-full justify-between">
          <span class="font-bold">{faq.title}</span>
          <div class="block accordian-icon">
            <svg class="h-6 w-6 stroke-neutral-dark" viewBox="0 0 24 24" stroke-width="1.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
          </div>
          <div class="hidden accordian-icon">
            <svg class="h-6 w-6 stroke-neutral-dark" viewBox="0 0 24 24" stroke-width="1.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
          </div>
        </dt>
        <dd class="grid-rows-[0fr] grid content-accordian pr-12 transition-all">
          <span class="text-base overflow-hidden leading-relaxed" set:html={faq.description} />
        </dd>
      </div>
    ))
  }
  <div class="h-[1px] bg-neutral-light"></div>
</Container>

<script>
  const toggleClass = (e: Element, class1: string, class2: string) => {
    const classes = e.className
    const classLen1 = class1.split(' ').length
    const isClass1 = e.classList.value.split(' ').slice(0, classLen1).join(' ') == class1
    e.className = isClass1
      ? class2 + classes.slice(class1.length, classes.length)
      : class1 + classes.slice(class2.length, classes.length)
  }
  const toggleVisibility = (e: Element) => toggleClass(e, 'hidden', 'block')
  const toggleHeight = (e: Element) => toggleClass(e, 'grid-rows-[0fr]', 'grid-rows-[1fr] mt-4')

  const accordianElements = document.getElementsByClassName('accordion')
  for (const accordianBtn of accordianElements) {
    const accordianIcons = accordianBtn.getElementsByClassName('accordian-icon')
    const contentElement = accordianBtn.getElementsByClassName('content-accordian')[0]!
    accordianBtn.addEventListener('click', () => {
      toggleVisibility(accordianIcons[0]!)
      toggleVisibility(accordianIcons[1]!)
      toggleHeight(contentElement)
    })
  }
</script>
