---
import Container from '../wrapper/container.astro'
import heroBg from './hero-bg.svg'
---

<section
  id="hero"
  class="relative overflow-hidden"
>
  <img class="absolute top-0 -z-10" alt="Hexagon hero background" src={heroBg.src}>
  <Container class="mx-auto px-8 pt-16 pb-16">
    <!-- Title -->
    <div class="mt-5 max-w-3xl text-center mx-auto">
      <h1 class="block font-bold text-neutral-dark text-4xl md:text-5xl lg:text-6xl">
        Automate your groceries
      </h1>
    </div>
    <!-- Description -->

    <div class="mt-5 max-w-xl text-center mx-auto">
      <p class="text-lg text-neutral-medium">
        This grocery list creation tool automatically selects the lowests prices.
      </p>
    </div>

    <!-- Buttons -->
    <div class="mt-8 gap-3 flex justify-center">
      <a
        class="inline-flex justify-center items-center gap-x-3 text-center bg-primary-medium border text-white text-sm font-medium rounded-xl py-3 px-4"
        href="/app"
        
      >
        Create your list &#8594;
      </a>
    </div>
  </Container>
</section>
